@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #8338ec;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
body {
  background: #000;
}

section {
  margin: 80px 32px;
  opacity: 0;
  animation: fadeIn 1000ms ease-in-out forwards;
}

section:last-child {
  margin-bottom: 0;
}

a {
  color: #fff;
}

.main-container nav .menu-button,
.mobile-menu-items {
  display: none;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  z-index: 2;
  background: #000;
  transition: all 400ms ease;
  position: relative;
  user-select: none;
}

.main-container video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.main-container .bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: #000;
  opacity: 0.8;
}

.main-container nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 32px;
  opacity: 0;
  z-index: 9999;
  animation: fadeIn 1000ms ease-in-out forwards;
  animation-delay: 1000ms;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.main-container nav .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  user-select: none;
}

.main-container nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
}

.main-container nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
}

.main-container nav ul li.active a::after {
  width: 100%;
}

.main-container nav ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: all 400ms ease;
}

.main-container nav ul a:hover::after {
  width: 100%;
}

.main-container .hero-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  user-select: none;
}

.main-container .hero-section > span {
  font-size: 32px;
  transform: translateY(15px);
  opacity: 0;
  text-transform: uppercase;
  animation: fadeIn 1000ms ease-in-out forwards;
}

.main-container .hero-section h1 {
  font-size: 64px;
  margin: 0;
  transform: translateY(15px);
  opacity: 0;
  animation: fadeIn 1000ms ease-in-out forwards;
}

.main-container .hero-section h1 span {
  color: #ef233c;
  position: relative;
  margin-left: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-container .hero-section p {
  font-size: 24px;
  transform: translateY(15px);
  opacity: 0;
  animation: fadeIn 1000ms ease-in-out forwards;
  animation-delay: 400ms;
}

.main-container .hero-section a.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #d62828;
  padding: 10px 32px;
  border-left: 8px solid #f1faee;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 400ms ease;

  opacity: 0;

  animation: fadeIn 1000ms ease-in-out forwards;
  animation-delay: 1000ms;
}

.main-container .hero-section a.btn:hover {
  background: #a11b1b;
}

.content {
  padding-top: 80px;
  min-height: 100vh;
  overflow-y: auto;
  width: 100%;
}

#contact form {
  position: relative;
  width: 100%;
  background-color: rgba(21, 21, 21);
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: column;
  border-radius: 16px;
}

#contact form .form-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-input label {
  font-size: 16px;
}

.form-input input {
  border: unset;
  outline: unset;
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  height: 40px;
}

.form-input input:focus,
.form-input textarea:focus {
  border-bottom-width: 2px;
}

textarea {
  font-size: 16px;
  outline: unset;
  border: none;
  color: #fff;
  background-color: transparent;
  resize: unset;
  min-height: 200px;
  border-bottom: 1px solid #fff;
}

.submit {
  display: flex;
  justify-content: end;
}

.submit button {
  border: unset;
  border-color: transparent;
  width: 160px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--primary-color);
  font-size: 16px;
  color: #fff;
  border-radius: 999px;
}

.submit button:hover {
  border: 1px solid #fff;
  border-color: #fff;
  background-color: transparent;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.project {
  border-radius: 16px;
  width: calc(25% - 18px);
  overflow: hidden;
}

.project-background {
  position: relative;
}

.project-background:hover figure {
  opacity: 0.3;
}

.project-background:hover .see-now {
  opacity: 1;
  top: 50%;
}

.project-background figure {
  height: 200px;
  transition: 0.3s;
}

.project-background figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.see-now {
  border-radius: 999px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0;
  text-decoration: none;
}

.see-now:hover {
  border: 1px solid #fff;
  background-color: #000;
}

.project-detail {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 100px;
  padding: 32px;
}

.images {
  display: flex;
  overflow: auto hidden;
  gap: 24px;
  width: 100%;
  height: 200px;
  padding-bottom: 12px;
}


.image {
  width: calc(25% - 18px);
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 16px;
}

.image:hover img {
    transform: scale(1.1);
    opacity: .5;
}

.image img {
    transition: all .3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  color: #fff;
}

.project-name {
  font-size: 32px;
}

.project-func li {
  font-size: 16px;
  margin: 12px 0 0 32px;
}

.title {
  font-size: 24px;
  padding: 12px 0;
}

.view-soucre {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 16px;
  width: 240px;
  border-radius: 999px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.view-soucre:hover {
  border: 1px solid #fff;
  background-color: transparent;
}

.back-main-page {
  position: fixed;
  right: 16px;
  top: 16px;
  color: #fff;
  font-size: 24px;
  padding: 8px 16px;
  transition: 0.3s;
}

.back-main-page:hover {
  opacity: .8;
}

.container-sayings {
    margin-top: 48px;
  position: relative;
}

.sayings {
  display: flex;
  gap: 24px;
  overflow-x: hidden;
}

.saying.active {
  display: flex;
}

.saying.active span {
  animation: graduallyDarken 0.5s linear;
}

@keyframes graduallyDarken {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.saying {
  display: none;
  background-color: rgba(21, 21, 21);
  border-radius: 16px;
  align-items: center;
  padding: 16px 46px;
  /* width: calc(25% - 18px); */
  width: calc(100%);
  flex-shrink: 0;
  min-height: 300px;
}

.saying-left,
.saying-right {
  border: 1px solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: var(--primary-color);
}

.saying-left:hover,
.saying-right:hover {
  border-color: #fff;
  background-color: transparent;
}

.saying-left {
  left: -18px;
}

.saying-right {
  right: -18px;
}

.saying span {
  flex: 1;
  font-size: 32px;
  text-align: center;
}

#footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 999;
  margin: 32px;
}

#footer span a {
  display: inline-block;
  margin-left: 4px;
}

.image-detail {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    padding: 0 32px;
}

.show-image {
    opacity: 0;
    animation: fadeIn 1000ms ease-in-out forwards;
    width: calc(100% - 300px);
    height: 500px;
}

.show-image img.active {
    display: block;
    animation: graduallyDarken 0.5s linear;
}

.show-image img {
    border-radius: 16px;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left, .right {
    z-index: 999;
    position: absolute;
    opacity: 0;
    animation: fadeIn 1000ms ease-in-out forwards;
    width: 54px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--primary-color);
    height: 54px;
    font-size: 24px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.left {
    left: 32px;
}

.right {
    right: 32px;
}

.left:hover, 
.right:hover {
    border-color: #fff;
    background-color: transparent;
}



